
body {
  background-color: #eaec96;
  margin: 0;
  text-align: center;
}

h1 {
  font-family: 'Sacramento', cursive;
  font-size: 6rem;
  color: #66BFBF;
  margin: 50px 0 auto 0 auto;
}

h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  margin-top: 100px;
}

h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.5rem;
  color: #11999E;
}

hr {
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 5%;
  margin: 100px auto;
}

p {
  font-family: 'Merriweather Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
}

span {
  text-decoration: underline;
}

a {
  text-decoration: none;
}


/******************CLASS SELECTORS*********************/
.subtitle {
  font-family: 'Ubuntu', sans-serif;
  line-height: 2;
  font-size: 2.5rem;
  font-weight: normal;
  color: #66BFBF;
}
.top-container {
  background-color: #20716a;
  position: relative;
  padding-top: 100px;

}

.cloud1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.cloud2 {
  position: absolute;
  bottom: 300px;
  left: 300px;
}

.profile{
  margin: 100px auto 100px auto;
}

.profilepic {
  border-radius: 100%;
  max-width: 15%;
  max-height: 15%;
}

.middle-container {
  margin: 60px 100px 100px;
}

.bottom-container {
  background-color: #1d2323;
  padding: 40px 0 20px;
}

.copyright {
  color: #edfffa;
  font-size: 0.90rem;
  padding: 20px 0;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skill-pc {
  border-radius: 100%;
  float: left;
  width: 37%;
  margin-right: 30px;

}

.skill-pc-android {
  float: right;
  width: 37%;
  margin-left: 10%;

}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
  line-height: 2;
}

.contact-btn {
  color: white;
  font-size: 1.5rem;
  font-weight: 1000;
}

.message-me {
  margin: auto 0 auto 0;

}

.butn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: 'Ubuntu', sans-serif;
  color: #ffffff;
  font-size: 0.8rem;
  padding: 10px 30px 10px 30px;
  text-decoration: none;
}

.butn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

.intro {
  width: 40%;
  line-height: 2;
  margin: auto;
}

.footer-link {
  line-height: 4;
}
/******************ID SELECTORS*********************/

#fl1 {
  color: #11999E;
  position: relative;
  top: 0.5rem;
  right: 7rem;
  font-family: 'Merriweather Sans', sans-serif;
}

#fl2 {
  color: #11999E;
  position: relative;
  top: 0.5rem;
  left: 0;
  font-family: 'Merriweather Sans', sans-serif;
}

#fl3 {
  color: #11999E;
  position: relative;
  top: 0.5rem;
  left: 7rem;
  font-family: 'Merriweather Sans', sans-serif;
}

#myweb {
  color: #11999E;
}

#fl1:hover {
  color: #EAF6F6;
}

#fl2:hover {
  color: #EAF6F6;
}

#fl3:hover {
  color: #EAF6F6;
}

#myweb:hover {
  color: yellow;
}
